/* App.css */
#root {
  text-align: center;
  height: 100vh;
  /* background-color: #fbf8ef; */
}

.app-container {
  display: flex;
  background-color: #bdddfc;
  /* margin-right: auto; */
}

.main-content {
  width: 80%;
  padding: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
